<apex:page >
<html lang="en">
    <title>New School</title>
        <head>
            <style>
                #header {
                    background-color:#9D1348;
                    color:white;
                    text-align:left;
                    padding:5px;
                    height: 50px;
                }
            </style>
             </head>
            </html>
</apex:page>