<apex:page sidebar="False" showHeader="false" standardStylesheets="false">
<head>
       <apex:stylesheet value="{!URLFOR($Resource.Bootstrap, '/bootstrap-3.3.5-dist/css/bootstrap.min.css')}"/>
       
       <title>Feedback Form</title>
 </head>
 <script>
function foo(){
   
    var checkbox = document.getElementById('chbxId');
   <!-- alert(checkbox.checked);-->
       if(checkbox.checked=true){
           <!--alert("Checked!");-->
            document.getElementById('Sourceid').style.display = 'block';
         }
   else {
           <!--alert("UnChecked!");-->
           document.getElementById('Sourceid').style.display = 'display';
         }
    }
    
    </script>
    <body>
        <div class="container well">
    <div class="row">
        <div class="span12">
        
       <h1 class="text-center">Feedback Form</h1><br/>
       <div class="center-block">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-2"></div>
            <label for="inputName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-5">
         <input type="Text" class="form-control" id="inputName" placeholder="Enter your Name"/>
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
             <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-5">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email Address"/>
        </div>
        </div>
         <div class="form-group">
             <div class="col-sm-2"></div>
            <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-5">
          <input type="Number" class="form-control" id="inputPhone" placeholder="Enter the Phone Number"/>
        </div>
        </div>
         <div class="form-group">
             <div class="col-sm-2"></div>
            <label for="inputComment" class="col-sm-2 control-label">Comment</label>
        <div class="col-sm-5">
           <textarea rows="4" cols="50" class="form-control" placeholder="Enter you Comment"></textarea>
        </div>
        </div>
        <div class="form-group">
             <div class="col-sm-2"></div>
            <label for="inputCheckbox" class="col-sm-2 control-label">Awareness about the organisation?</label>
        <div class="col-sm-5">
          <input type="checkbox"  onChange="foo()" id="chbxId" />
        </div>
        </div>
         <div class="form-group" id="Sourceid" style="display:none">
             <div class="col-sm-2"></div>
            <label for="inputselect" class="col-sm-2 control-label">Source</label>
<div class="col-sm-5" >
<select class="form-control" >
  <option>Web</option>
  <option>NewsPaper</option>
  <option>TV</option>
 
</select>
 </div>
        </div>
        <center><button type="button" class="btn btn-info">SUBMIT</button></center>
       
    </form>
            </div>
    </div>
</div>
</div>
        
        
    </body>

</apex:page>